body {
    user-select: none;
}

#error-messages {
    width: 100%;
    font-weight: bold;
    color: red;
    margin: 16px auto 32px;
}

.section {
    max-width: 768px;
    margin: auto;
    padding: 16px;
    border-radius: 9px;
    background: #eee;
    border: 1px solid #c9c9c9;
    text-align: left;
}
@media (prefers-color-scheme: dark) {
    .section {
        background: #202020;
        border-color: #535353;
    }
}

.controls-block-item {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-bottom: 1em;
}

.control-label {
    width: 100%;
    margin-bottom: .25em;
}
.control-label::after {
    content: ":";
}

@media only screen and (min-width: 720px) {
    .controls-block-item {
        margin-bottom: .25em;
    }

    .control-label {
        width: auto;
        min-width: 6em;
        margin-bottom: 0;
    }
}

.control-container {
    flex-grow: 1;
    margin: 2px 0;
}
.control-container input,
.control-container select {
    font-size: 100%;
    box-sizing: border-box;
}

.control-container input[type=number] {
    width: 5em;
}
.control-container input[type=text] {
    width: 100%;
}

.block + .block {
    margin-top: 32px;
}

.results-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#generated-code {
    font-size: 42px;
    user-select: text;
    white-space: nowrap;
}

.generated-code-part {
    margin: 0 .15em;
}

#generated-code-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 16px 16px 16px;
}

.qrcode-container {
    text-align: center;
}

#qrcode {
    border-radius: 9px;
}

.countdown-section {
    width: fit-content;
}

progress {
    width: 100%;
    height: 16px;
}

button {
    padding: 8px 14px;
    background: #009688;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    cursor: pointer;
}

button:hover {
    background: #26a69a;
}

button:hover,
button:focus {
    outline: 0px;
}
